
@{
    ViewBag.Title = "SyncERP";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<section class="content-header">
    <h1>
        编码同步
        <small>Part SyncManager</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Part/">物料编码</a></li>
        <li class="active">编码同步</li>
    </ol>
</section>
<section class="content">
    <div class="row"></div>
</section>

