
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="box no-border">
        <form role="form" id="formEdit">
            <div class="box-body">
                <div class="form-group">
                    <label for="CompanyName">公司名称</label>
                    <input type="text" class="form-control" v-model="CompanyName" placeholder="Enter Company Name">
                </div>
                <div class="form-group">
                    <label for="CompanyCode">公司代码</label>
                    <input type="text" class="form-control" v-model="CompanyCode" placeholder="Enter Company Code">
                </div>
                <div class="form-group">
                    <label for="CompanyCode">开票税率</label>
                    <input type="number" class="form-control" v-model="Taxrate" placeholder="Enter Company Taxrate">
                </div>
                <div class="form-group">
                    <label for="Address">公司地址</label>
                    <input type="text" class="form-control" v-model="Address" placeholder="Enter Address">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="IsActive"> 有效
                    </label>
                    <label>
                        <input type="checkbox" v-model="IsDeleted"> 移除
                    </label>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" v-model="Id">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">确定</button>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
@section scripts{
    <script>
        $.post('/Company/GetModel', { id: @(ViewBag.Id) }, function (response) {
            new Vue({
                el: "#formEdit",
                data: function () { return response },
                methods: {
                    dosubmit: function () {
                        $.ajax({
                            url: '/Company/InsertOrUpdate',
                            type: "POST",
                            data: response,
                            success: function (data) {
                                toastr.options = {
                                    "positionClass": "toast-top-right",
                                }
                                if (data.code == 100) {
                                    toastr.success('保存成功！');
                                    window.parent.RefreshCompData();
                                } else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                        return false;
                    }
                }
            })
        });
    </script>
}

