
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        发货清单
        <small>Ship List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Ship/">发货清单</a></li>
        <li class="active">发货详情</li>
    </ol>
</section>
<div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i> 备注:</h4>
        收到货后请核对外包装和数量，务必签字回传！
    </div>
</div>
<!-- Main content -->
<section class="invoice" id="formDetail">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> 罗斯（无锡）设备有限公司.
                <small class="pull-right">订单号：<label class="label label-default">{{ShipHd.OrderNum}}</label>　　订单日期： <label class="label label-default">{{ShipHd.OrderDate}}</label></small>
            </h2>
            <p>地址: 无锡市锡山经济开发区万全路55号  邮编: 214101<br>Tel: 0510-85080388    Fax: 0510-88263400</p>
        </div>
        <!-- /.col -->
    </div>
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:50px">编号</th>
                        <th>合同号</th>
                        <th style="width:120px">产品号</th>
                        <th style="width:120px">物料编码</th>
                        <th>物料名称</th>
                        <th>型号</th>
                        <th style="width:60px">数量</th>
                        <th style="width:60px">SO号</th>
                        <th>原因</th>
                        <th style="width:80px">责任部门</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="item in ShipDetailList">
                        <td>{{item.RowNum}}</td>
                        <td>{{ShipHd.ContractNum}}</td>
                        <td>{{item.ProductNum}}</td>
                        <td>{{item.PartNum}}</td>
                        <td>{{item.PartDesc}}</td>
                        <td>{{item.PartModel}}</td>
                        <td>{{item.ShipQty}}</td>
                        <td>{{item.SONum}}</td>
                        <td>{{item.Reasons}}</td>
                        <td>{{item.RespDepartNames}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <p class="lead">
                发货单位
            </p>
            <address>
                罗斯（无锡）设备有限公司<br>
                <strong>　发货人：</strong> <br>
                <strong>　确认人：</strong> <br>
                <strong>发货方式：</strong>
                <span class="label label-info">{{ShipHd.ShipviaCode}}</span>
                <br>
                <strong>　　电话：</strong> 
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 invoice-col">
            <p class="lead">
                收货单位
            </p>
            <address>
                {{Customer.CustName}}<br>
                <strong>　收货人：</strong>{{Customer.Contactor}}<br>
                <strong>收货地址：</strong>{{Customer.Address1}}<br>
                <strong>　　电话：</strong>{{Customer.Telphone}}
            </address>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            @*<a href="#"  class="btn btn-default"><i class="fa fa-print"></i> 打印</a>*@
            <a href="/Ship/Edit/@(ViewBag.Id)" class="btn btn-success pull-right">
                <i class="fa fa-credit-card"></i> 修改
            </a>
            <a href="/Ship/ExportExcel?shipid=@(ViewBag.Id)" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-download" ></i> 导出Excel
            </a>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var datas = {
            ShipHd: [],
            ShipDetailList: [],
            Customer:[],
            ShipDetailList: []
        }
        GetDatas();
        var vm = new Vue({
            el: "#formDetail",
            data: datas
        })
        function GetDatas(){
            $.post('/Ship/GetModel', { id: @(ViewBag.Id) }, function (response) {
                datas.ShipHd = response;
                $.post('/Customer/GetModel', { id: response.CustID }, function (response) {
                    datas.Customer = response;
                })
                $.post('/Ship/GetDetailLists', {page:1,pageSize:0, shipid:datas.ShipHd.Id }, function (response) {
                    datas.ShipDetailList = response.datas;
                })
            })
        }
    </script>
}
