
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<section class="content-header">
    <h1>
        客户出货
        <small>Ship Manager</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Ship/">出货管理</a></li>
        <li class="active">客户出货</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" id="formEdit">
        <div class="box">
            <div class="box-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="新建"><i class="fa fa-file"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="保存"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="撤销"><i class="fa fa-reply"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="刷新" onclick="GetDatas()"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">表头</a></li>
                        <li><a href="#tab2" data-toggle="tab">分录明细</a></li>
                        <li><a href="#tab3" data-toggle="tab">分录列表</a></li>
                        <li><a href="#tab4" data-toggle="tab">备注</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1" style="position: relative;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="OrderNum" class="col-sm-2 control-label">订单编号</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly="readonly" v-model="ShipHd.OrderNum">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">选择</button>
                                                </span>
                                            </div>
                                        </div>
                                        <label for="RevNum" class="col-sm-2 control-label">版本</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" v-model="ShipHd.RevNum">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">发货日期</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control" v-model="ShipHd.OrderDate" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PromiseDate" class="col-sm-2 control-label">承诺日期</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control" v-model="ShipHd.PromiseDate" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="CustID" class="col-sm-2 control-label">客户编号</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2 CustID" v-model="ShipHd.CustID">
                                                <option v-for="option in CustomerItems" v-bind:value="option.Id">{{option.CustName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Contactor" class="col-sm-2 control-label">收货人</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly="readonly" v-model="Customer.Contactor">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Address1" class="col-sm-2 control-label">收货地址</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly="readonly" v-model="Customer.Address1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContractNum" class="col-sm-2 control-label">合同号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="ShipHd.ContractNum">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="IsConfirm" class="col-sm-2 control-label">订单确认</label>
                                        <div class="col-sm-1">
                                            <div class="checkbox icheck">
                                                <input type="checkbox" checked="checked" v-model="ShipHd.IsConfirm">
                                            </div>
                                        </div>
                                        <label class="col-sm-2  control-label">订单状态</label>
                                        <div class="col-sm-5">
                                            <span class="label label-success">批准</span>
                                            <span class="label label-info">待批准</span>
                                            <span class="label label-warning">未提交</span>
                                            <span class="label label-danger">拒绝</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ShipviaCode" class="col-sm-2 control-label">运输方式</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2 ShipviaCode" v-model="ShipHd.ShipviaCode">
                                                <option value="express">快递</option>
                                                <option value="logistics">物流</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RespDepartCodes" class="col-sm-2 control-label">责任部门</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2 RespDepartCodes" multiple>
                                                <option v-for="option in Departs" v-bind:value="option.Id">{{option.DepartName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="EnterPerson" class="col-sm-2 control-label">录入员</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="ShipHd.EnterPerson" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane" style="position: relative;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SONum" class="col-sm-2 control-label">订单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" v-model="ShipDetail.SONum">
                                            <input type="hidden" v-model="ShipDetail.Id" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PartNum" class="col-sm-2 control-label">物料编码</label>
                                        <div class="col-sm-6">
                                            <select class="form-control PartNum" v-model="ShipDetail.PartNum" style="width:100%">
                                                <option v-for="option in PartItems" v-bind:value="option.PartNum">{{option.PartNum}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control IUM" readonly="readonly" v-model="ShipDetail.IUM">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PartDesc" class="col-sm-2 control-label">物料描述</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control PartDesc" readonly="readonly" v-model="ShipDetail.PartDesc">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PartModel" class="col-sm-2 control-label">型号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="ShipDetail.PartModel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ShipQty" class="col-sm-2 control-label">数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="ShipDetail.ShipQty">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ReasonCode" class="col-sm-2 control-label">原因代码</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2 ReasonCode" v-model="ShipDetail.ReasonCode" style="width:100%">
                                                <option v-for="option in Reasons" v-bind:value="option.ReasonCode">{{option.ReasonDesc}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Reasons" class="col-sm-2 control-label">原因</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" v-model="ShipDetail.Reasons"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="RespDepartCodesDT" class="col-sm-2 control-label">责任部门</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2 RespDepartCodesDT" style="width:100%" multiple>
                                                <option v-for="option in Departs" v-bind:value="option.Id">{{option.DepartName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="OpenLine" class="col-sm-2 control-label">未结</label>
                                        <div class="col-sm-3">
                                            <label class="checkbox icheck">
                                                <input type="checkbox" v-model="ShipDetail.OpenLine">
                                                <input type="hidden" id="ShipID" v-model="ShipDetail.ShipID" />
                                            </label>
                                        </div>
                                        <label for="IsConfirm" class="col-sm-2 control-label">确认发货</label>
                                        <div class="col-sm-3">
                                            <label class="checkbox icheck">
                                                <input type="checkbox" v-model="ShipDetail.IsConfirm">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane" style="position: relative;">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>公司</th>
                                        <th>物料编码</th>
                                        <th style="width:220px">物料名称</th>
                                        <th>型号</th>
                                        <th>数量</th>
                                        <th>SO号</th>
                                        <th style="width:240px">原因</th>
                                        <th>责任部门</th>
                                    </tr>
                                    <tr v-for="item in ShipDetailList">
                                        <td>{{item.Company}}</td>
                                        <td>{{item.PartNum}}</td>
                                        <td>{{item.PartDesc}}</td>
                                        <td>{{item.PartModel}}</td>
                                        <td><span class="label label-success">{{item.ShipQty}}</span></td>
                                        <td>{{item.SONum}}</td>
                                        <td>{{item.Reasons}}</td>
                                        <td>{{item.RespDepartCodes}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane" style="position: relative;">
                            <textarea class="form-control" rows="3" v-model="ShipHd.Comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="/Ship/" class="btn btn-default"><i class="fa fa-reply"></i> 返回</a>
                <input type="hidden" v-model="ShipHd.Id" />
                <button type="button" class="btn btn-primary pull-right" v-on:click="dosubmit"><i class="fa fa-save"></i> 保存</button>
            </div>
        </div>
    </form>
</section>
@section css{
    <link rel="stylesheet" href="/Contents/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/Contents/plugins/iCheck/all.css" />
}
@section scripts{
    <script src="/Contents/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/Contents/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/Contents/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="/Contents/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/Contents/plugins/iCheck/icheck.min.js"></script>
    <script>
        var datas = {
            ShipHd: [],
            ShipDetail: {},
            Departs: [],
            CustomerItems: [],
            Customer:[],
            PartItems: [],
            Reasons: [],
            ShipDetailList: []
        }

        $(function () {
            $('[data-mask]').inputmask()
            $('.select2').select2()
            $('.icheck').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            GetDatas();            

            $(".PartNum").select2({
                placeholder: "输入关键词查询",
                minimumInputLength: 3,
                ajax: {
                    url: "/Part/GetPartSelect",
                    method: 'POST',
                    dataType: 'JSON',
                    quietMillis: 250,
                    data: function (params) {
                        return {
                            keywords: params.term,
                            page: 1,
                            pageSize:30
                        };
                    },
                    processResults: function (data, params) {
                        var lists = [];                        
                        var total = data.total;
                        data.datas.forEach(function(e) {
                            lists.push({
                                id:e.PartNum,
                                text: e.PartNum,
                                ium:e.IUM,
                                desc:e.PartDesc});
                        })
                        return { results: lists };
                    }
                }
            });

            $(".PartNum").on("change", function(e)
            {
                var obj=$(".PartNum").select2("data")[0]
                $('.PartDesc').val(obj.desc)
                $('.IUM').val(obj.ium)
                datas.ShipDetail.PartDesc=obj.desc
                datas.ShipDetail.IUM=obj.ium
                datas.ShipDetail.PartNum = obj.id
            })

            $(".CustID").on("change",function(e){
                datas.ShipHd.CustID = $(this).val();
            })
            $(".ShipviaCode").on("change",function(e){
                datas.ShipHd.ShipviaCode = $(this).val();
            })            
        })
        
        function GetDatas(){
            $.post('/Ship/GetModel', { id: @(ViewBag.Id) }, function (response) {
                datas.ShipHd = response;                
                if (datas.ShipHd.RespDepartCodes != null)
                    $(".RespDepartCodes").val(datas.ShipHd.RespDepartCodes.split(",")).trigger('change');
                if (datas.ShipHd.ShipviaCode != null)
                    $(".ShipviaCode").val(datas.ShipHd.ShipviaCode).trigger('change');

                $.post('/Customer/GetModel', { id: response.CustID }, function (response) {
                    datas.Customer = response;
                })
                if(datas.ShipHd.Id==0)
                {
                    $.post('/Ship/GetOrderNum', { }, function (response) {
                        datas.ShipHd.OrderNum = response;
                    })
                }
                $.post('/Ship/GetDetailLists', {page:1,pageSize:0, shipid:datas.ShipHd.Id }, function (response) {
                    datas.ShipDetailList = response.datas;
                    if(response.total>0){
                        datas.ShipDetail = datas.ShipDetailList[0];
                        if (datas.ShipDetail.RespDepartCodes != null)
                            $(".RespDepartCodesDT").val(datas.ShipDetail.RespDepartCodes.split(",")).trigger('change');
                        if (datas.ShipDetail.PartNum != null){
                            var option = new Option(datas.ShipDetail.PartNum, datas.ShipDetail.PartNum, true, true);
                            $(".PartNum").append(option);
                            $(".PartNum").val(datas.ShipDetail.PartNum);
                        }
                    }
                })
            })

            $.post('/Employee/GetListsDept', { page:1,pageSize:0 }, function (response) {
                datas.Departs = response.datas;
            })
            $.post('/Customer/GetLists', { page:1, pageSize:0 }, function (response) {
                datas.CustomerItems = response.datas;
            })           
        }
        var vm = new Vue({
            el: "#formEdit",
            data: datas,
            methods: {
                Init: function () {
                },
                dosubmit: function () {
                    datas.ShipHd.CustID = $(".CustID").select2("val");
                    datas.ShipHd.ShipviaCode = $(".ShipviaCode").select2("val");
                    datas.ShipHd.RespDepartCodes = $('.RespDepartCodes').select2("val").join(",");

                    datas.ShipDetail.PartNum = $(".PartNum").select2("val");
                    datas.ShipDetail.ReasonCode = $(".ReasonCode").select2("val");
                    datas.ShipDetail.RespDepartCodes = $('.RespDepartCodesDT').select2("val").join(",");
                                        
                    var dto={}
                    dto["ShipHd"] = datas.ShipHd;
                    dto["ShipDt"] = datas.ShipDetail;

                    $.ajax({
                        url: '/Ship/InsertOrUpdateHD',
                        type: "POST",
                        data: dto,
                        success: function (resp) {
                            toastr.options = {
                                "positionClass": "toast-top-right",
                            }
                            if (resp.code == 100) {
                                toastr.success('保存成功！');
                                datas.ShipHd.Id = resp.datas;
                                $.post('/Ship/GetDetailLists', {
                                    page:1,pageSize:0, 
                                    shipid:resp.datas }, function (response) {
                                    datas.ShipDetailList = response.datas;
                                })
                            } else {
                                toastr.error(resp.message);
                            }
                        }
                    });

                    
                    return false;
                }
            }
        })
        vm.Init()
    </script>
}

